@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@200&family=Montserrat:ital,wght@0,900;1,100&display=swap');
*{
    /* */
    color: whitesmoke;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Anek Malayalam', sans-serif;
font-family: 'Montserrat', sans-serif;

}
:root{
    --primary-color: #364ba7;
    --secondary-color: #f583a7;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-color: whitesmoke; */

}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0, 0.6);
    border-radius: 10px;
    width: 600px;
    /* background-color: #504aa7; */
    margin: 10px;
}
.fa-quote-left .fa-solid .fa-copy{
    font-size: 84px;
    color: var(--secondary-color);

}
.fa-copy{
    color:var(--secondary-color);
    padding: 20px;
    background-color:var(--primary-color);
}
.quote{
    text-align: center;
    font-style: italic;
    color: var(--primary-color); 
}
.author-name{
    color: var(--secondary-color);
    font-size: 20px;
}
hr {
    margin: 10px 0;
    width: 60%;
    border: 1px solid ;
}
.btns{
    width:100%;
    display: flex;
    justify-content: space-between;
    /* background-color: blue; */
}
.twitter-share-button{
    text-decoration: none;
    font-size: 20px;
    background-color: var(--primary-color);
    padding: 10px;
    color: var(--secondary-color);
    border-radius: 4px;

}
.btns .next-quote{
    cursor: pointer;
    border: none;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 20px;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 4px;
}
button:focus {
    outline: none;
}
